body {
  background-color: #efe1ed;
}
.index-title {
  color: rgba(141, 10, 182, 0.75);
}
.sitetitle {
  color: rgba(141, 10, 182, 0.75);
}
.nav-link {
  font-size: x-large;
}
.text-dark {
  color: rgba(141, 10, 182, 0.75);
}